@import "../../../static/stylesheets/abstracts/all.css";

.errorPlaceholder {
  background: red;
}
.error {
  background: red;
}

.formInput {
  padding: 0;
  border: 0;
  text-align: left;
  & + & {
    margin-top: 1rem;
  }

  & label {
   display: inline-block;
   margin-top: 2rem;
   font-size: 1.2rem;
   font-weight: lighter;
   text-transform: uppercase;
   touch-action: manipulation;
  }

  & input {
   display: block;
   padding: .5rem .75rem;
   width: 100%;
   font-size: 2rem;
   line-height: 2rem;
   color: #55595c;
   background-color: transparent;
   background-image: none;
   background-clip: padding-box;
   border-top: 0;
   border-right: 0;
   border-bottom: 1px solid rgba(0,0,0,.07);
   border-left: 0;
   border-radius: 0.1rem;
   /*@include transition;*/
   
   &:focus {
    outline: 0;
    box-shadow: none;
    border-bottom-color: var(--color-darkblue);
   }
  }

}